body {
  height: 100vh;
}

.top-container {
  height: calc(100% - 90px);
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.wrap {
  flex-wrap: wrap
}