/* 
=============
Container
=============
*/

body {
  font-family: 'Montserrat', sans-serif;;
  height: 100vh;
}

.top-container {
  height: calc(100% - 90px);
}

/* 
=============
Common elements
=============
*/

a {
  color: currentColor;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
}

/* 
=============
Flex
=============
*/

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}