:root {
  --opacity-color: #080b12;
  --sidebar-color: #000000;
  --footer-color: #282828;
  --main-color: #141922;
  --main-text: #707070;
  --second-text: #ffffff;
  --full-bar: #c1c1c1;
  --empty-bar: #5a5a5a;
}