footer {
  background-color: var(--footer-color);
  color: var(--second-text);
  height: 90px;
  justify-content: space-between;
  padding: 25px;
  position: relative;
  z-index: 1000;
}

footer > *:not(.footer-center) {
  width: 20%;
}

/* 
=============
Footer left
=============
*/

footer .footer-left .image {
  height: 30px;
  margin-right: 15px;
  width: 30px;
}

footer .footer-left .title,
footer .footer-left .save {
  color: var(--main-text);
}

footer .footer-left .title:hover {
  text-decoration: underline;
}

footer .footer-left .title:hover,
footer .footer-left .save i:hover {
  color: var(--second-text);
}

footer .footer-left .save {
  margin-left: 15px;
}

footer .footer-left .save > * {
  display: inline-block;
  margin: 3px 5px;
}

/* 
=============
Footer center
=============
*/

footer .footer-center {
  width: 30%;
}

footer .footer-center .player {
  font-size: 20px;
  text-align: center;
}

footer .footer-center .player > * {
  display: inline-block;
  margin: 3px 5px;
}

footer .footer-center .player .fa-circle-play:hover {
  transform: scale(1.2);
}

footer .footer-center .timer .timer-right {
  margin-left: 5px;
}

/* 
=============
Footer bars
=============
*/

footer .bar {
  height: 5px;
  position: relative;
  width: 100%;
}

footer .bar .current-time,
footer .bar .remaining-time {
  border-radius: 5px;
}

footer .bar .current-time {
  background-color: var(--second-text);
  left: 5px;
  position: relative;
  width: 20%;
}

footer .bar .remaining-time {
  background-color: var(--main-text);
  width: 80%;
}

footer .bar:hover {
  cursor: pointer;
}

footer .bar:hover .current-time {
  background-color: #adff2f;
}

footer .bar:hover .circle {
  display: block;
}

footer .circle {
  display: none;
  left: 20%;
  position: absolute;
  top: -7px;
}

/* 
=============
Footer right
=============
*/

footer .footer-right .options {
  font-size: 16px;
  text-align: center;
  width: 35%;
}

footer .footer-right .options > * {
  display: inline-block;
  margin: 3px 5px;
}

/* 
=============
Responsive
=============
*/

@media screen and (min-width: 641px) {

  footer .footer-left .image {
    height: 60px;
    width: 60px;
  }

  footer .footer-left .save {
    display: flex;
  }
}