#sidebar {
  align-items: center;
  background-color: var(--sidebar-color);
  color: var(--main-text);
  flex-direction: column;
  font-weight: 600;
  height: calc(100vh - 90px);
  overflow: hidden;
  width: 50px;
}

#sidebar .logo {
  margin-bottom: 10px;
  padding: 5px 10px;
}

#sidebar .nav > *,
#sidebar .add-playlist > *,
#sidebar .scroll > *,
#sidebar .sidebar-bottom {
  margin-bottom: 10px;
}

#sidebar .add-playlist {
  margin-top: 15px;
}

#sidebar .add-playlist strong {
  color: var(--second-text);
  text-transform: uppercase;
}

#sidebar .add-playlist .flex {
  margin-bottom: 20px;
}

#sidebar .nav li .image,
#sidebar .add-playlist .image {
  margin-right: 5px;
  width: 30px;
}

#sidebar .nav li:hover .hidden,
#sidebar .sidebar-bottom .flex:not(.profile):hover .hidden {
  color: var(--second-text);
}

#sidebar .nav .special .hidden {
  color: var(--second-text);
}

#sidebar .hidden {
  display: none;
}

#sidebar .add-playlist .flex:hover,
#sidebar .add-playlist .flex:hover .image i {
  color: var(--second-text);
}

#sidebar .add-playlist .image i {
  color: #d2d2d2;
  font-size: 45px;
}

#sidebar .add-playlist .hidden {
  padding-left: 15px;
}

#sidebar .scroll li:hover {
  color: var(--second-text);
}

#sidebar .scroll {
  min-height: 80px;
  overflow-y: auto;
}

#sidebar .scroll ul > * {
  margin-bottom: 20px;
}

#sidebar .sidebar-bottom {
  margin-top: auto;
  width: 100%;
}

#sidebar .sidebar-bottom .flex {
  justify-content: center;
}

#sidebar .sidebar-bottom .image.small {
  margin-bottom: 20px;
  width: 20px;
}

#sidebar .sidebar-bottom hr.hidden {
  border: 1px solid var(--main-text);
  border-top: none;
  margin: 15px 0;
  margin-right: 20px;
}

#sidebar .sidebar-bottom .profile {
  color: var(--second-text);
}

#sidebar .sidebar-bottom .profile img {
  background-color: #808080;
  border-radius: 50%;
  height: 30px;
  object-fit: contain;
  width: 30px;
}

#sidebar .sidebar-bottom .profile .hidden {
  cursor: text;
  font-weight: 700;
  margin-left: 15px;
}

/* 
=============
Responsive
=============
*/

@media screen and (min-width: 553px) {

  #sidebar {
    align-items: flex-start;
    padding-left: 20px;
    width: 230px;
  }

  #sidebar .logo {
    padding: 20px 0;
  }

  #sidebar .logo {
    width: 65%;
  }

  #sidebar .nav li:before {
    margin-right: 8px;
  }

  #sidebar .visible {
    display: none;
  }

  #sidebar .hidden {
    display: block;
  }

  #sidebar .nav .relative {
    position: relative;
  }
  
  #sidebar .nav .special:before {
    border-left: 3px solid #adff2f;
    content: "";
    height: 100%;
    left: -20px;
    position: absolute;
  }

  #sidebar .sidebar-bottom .flex {
    justify-content: flex-start;
  }

  #sidebar .sidebar-bottom .image.small {
    margin-bottom: 0;
    margin-right: 10px;
  }
}