#sidebar {
  background-color: var(--sidebar-color);
  color: var(--main-text);
  flex-direction: column;
  height: calc(100vh - 90px);
  overflow: hidden;
  width: 50px;
}

#sidebar .hidden {
  display: none;
}

#sidebar .scroll {
  min-height: 50px;
  overflow-y: auto;
}

#sidebar .sidebar-bottom {
  margin-top: auto;
}

/* 
=============
Responsive
=============
*/

@media screen and (min-width: 553px) {

  #sidebar {
    width: 230px;
  }

  #sidebar .hidden {
    display: inline;
  }
}